<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.cloud.web.mapper.BoardMapper">

	<!-- [ 전체 게시글을 조회하기 ] -->
	<select id = "selectDevicesAll" resultType = "kr.cloud.web.entity.Devices">
		SELECT * FROM devices ORDER BY device_id DESC
	</select>
	
	
	<!-- [ 회원가입 정보 저장하기 ] -->
	<insert id="goRegister" parameterType="kr.cloud.web.entity.Users">
		INSERT INTO BOARD(user_id, password, name, department, email, phone)
		VALUES(#{user_id} ,#{password} ,#{name}, #{department}, #{email}, #{phone});
	</insert>
	
	<!-- 알림 리스트 조회하기 -->
	<select id="selectAll" resultType="kr.cloud.web.entity.TypeInfo">
		SELECT * FROM type_info ORDER BY type_id DESC;
	</select>


</mapper>